@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: "Outfit", sans-serif;
  cursor: pointer;
  
}
body{
  overflow-x: hidden;
}
.nav ul li {
  padding: 10px;
}

.linearbggreen {
  background: linear-gradient(
    0deg,
    #d7ffe0 0px,
    rgba(251, 251, 251, 0) 91.45%
  );
}

.gradienttextbg {
  background: linear-gradient(90deg, #00D842 0px, rgba(54, 109, 253, 0.87) 98.96%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-transform: capitalize;

}
.sidebar{
  position: absolute;
  height: 100vh;
  top:0;
  background: white;
  right: 0;
}

.bs{
  background: linear-gradient(149.9deg, #38D26F 12.85%, #357AFF 130.19%);
}

.list-story li:first-child p:first-child{
  margin-top: 0.8rem;
}

.list-story li p:first-child{
  font-size: 1.5rem;
  color: white;
  margin-top: 2rem;
}
.list-story li p:nth-child(2){
  margin-top: 2px;
  margin-bottom: 4px;
  color: white;
}
.list-story li {
  border-bottom: 0.8px solid white ;
  padding: 4px;
}    .rotating-text {
  display: inline-block;
  position: relative;
  width: 100%; /* Adjust the width as needed */
  height: 1em; /* Adjust the height as needed */
  overflow: hidden;
  white-space: nowrap;
}

.text-container {
  position: absolute;
  top: 0;
  animation: rotateContainer 9s linear infinite;
}

.text-container span {
  display: inline-block;
  opacity: 0;
  margin-right: 10px; /* Adjust the spacing between words as needed */
  animation: rotateText 9s linear infinite;
}

@keyframes rotateContainer {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slide-text {
  width: 100%;
  
  display: flex;
  flex-direction: row;
  white-space: nowrap; /* important */
}

.slide-text span {
  display: inline-block;
  font-weight: normal;
  /* width: 100%; */
}
.footer ul li{
  color:#5D6180;
  margin: 5px 0px;
}
.footer ul{
  margin-top: 10px;
}
.bg-img{
  background-image: url('../assets/approach.png');
  background-repeat: no-repeat;
  /* height: 100vh; */
  background-size: 58%;
}


.list-values li:first-child p:first-child{
  margin-top: 1rem;
}

.list-values li p:first-child{
  font-size: 1.3rem;
  color: white;
  margin-top: 2rem;
}
.list-values li p:nth-child(2){
  margin-top: 2px;
  margin-bottom: 4px;
  color: white;
}
.list-values li {
  border-bottom: 0.8px solid white ;
  padding: 4px;
}   
.approach-bg {
  background: url('../assets/img2.png');
  height: 100vh;
}
.card-list{
  list-style-type:disc;
  margin-left: 0 10px;
}
.card-list li{
    margin: 10px 20px;
}
.bg-img1{
  background: url('../assets/bg1.png');
  
}